<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>io.pivotal.run.sc.LoginController</servlet-class>
    </servlet>
<!--    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    -->
</web-app>
